body{
    background-image:url(../assets/background-by-adult-swim.png) ;
    
}

.name{
    color: rgb(0, 0, 0);
}

.table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;

    
    }
    

    .card{
        width: 200px;
        background-color: white;
        border-radius: 10px;
    }
    img{
        border-radius: 10px 10px 0 0;
    }

    .App-logo{
        text-align: center;
    }